
.documentStatus {
    font-size:smaller;
}

.documentItem {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 10px 5px 10px;
}

/* .documentItem.odd { */
/*     background-color: #eee; */
/* } */

.documentItem .documentName {
    margin-top: 0px;
}

.documentItem h3 {
    font-size:16px;
}


.documentItem table td.description {
    vertical-align:middle;
}

.categoryButton {
    margin-top: 5px;
}

.categoryButton:not(.active) {
    background-color: grey;
}

.code {
    font-family: 'Source Code Pro';
}

.categoryButton:focus {
    outline:none; 
    outline-color: transparent;
    outline-style: none;
    background-color: rgb(40, 96, 144);
}

.categoryButton:hover {
    outline:none;
    outline-color: transparent;
    outline-style: none;
    background-color: rgb(40, 96, 144);
}

.categoryButton.active {
    background-color: rgb(40, 96, 144);
}

span.documentCategory {
    font-size: small;
    color: grey;
    padding-left: 10px;
}

